footer {
  margin-bottom: 2rem;
  color: #666666;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.625rem;
  text-align: center;

  p {
    margin-bottom: 0;
  }
  
  a {
    margin-top: 0.4375rem;
    color: #0000ff;
    text-decoration: underline;
  }
}
