// App
.appContainer {
  padding: 40px 2% 0 2%;
  width: 100%;
  min-height: 880px;
}
.mainContent {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  outline: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}