.contentContainer {
  margin-top: 5rem;
}

.featuretteDivider {
  margin: 5rem 0;
}

.featuretteHeading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;

  @media (min-width: 40em) {
    font-size: 50px;
  }
  
  @media (min-width: 62em) {
    margin-top: 7rem;
  }
}
