.desktopHeader {
  width: var(--page-max-width);
  padding: 0 var(--page-gutter);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.appButton {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.button {
  white-space: nowrap;
}