@import './../../../styles/_main.scss';

.desktop-navbar {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  @include media-breakpoint-down(xxl) {
    position: fixed;
    top: 100px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out; 
    &.open {
      visibility: visible;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }
  @include media-breakpoint-up(xxl) {
    display: flex;
  }
  .nav-link {
    margin-top: 7px;
    color: #434343;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
    &:hover {
      color: #000000;
    }
  }

  .nav-route {
    font-size: 34px;
  }

  .right-nav {
    flex-direction: row;
    height: 64.8px;
    margin-top: 0;
    margin-right: .5rem;

    .info-text {
      margin-right: 1.5rem;
      color: #666666;
      font-family: 'Montserrat', sans-serif;
      font-size: 28px;
    }

    .nav-buttonstyle {
      border: none;
      background-color: #7289da;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      outline-style: none;
      border-radius: 3rem;
      font-family: 'Montserrat', sans-serif;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      a {
        color: #ffffff;
        margin: 1rem 1.75rem;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}