@import './../../../styles/_main.scss';

.logo {
  margin-right: 2.5rem;
  margin-bottom: 0rem;
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  font-weight: 600;
  user-select: none;
  @include media-breakpoint-up(md) {
    font-size: 3.25rem;
  }

  .leftLogo {
    color: #ff9900;
  }

  .rightLogo {
    color: #0000ff;
  }

  a:hover {
    text-decoration: none;
  }
}