.link {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: var(--not-quite-black);
}

.linkActive {
  background: var(--off-white);
  color: var(--text-link);
  border-radius: 8px;
}

.caret {
  transform: rotate(270deg);
  margin-left: 4px;
}
