@import '~shared/styles/main';

.heroBackground {
  background: linear-gradient(0deg,#7196ff -.45%,#2a5ee8 71.18%);
  position: relative;
  overflow: hidden;
  
  @include media-min-width(sm) {
    min-height: 626px;
  }
}
