@import '~shared/styles/main';

.wrapperDesktop {
  display: none;

  @include media-min-width(lg) {
    display:flex;
  }
}

.appButton {
  flex: 0 0 auto;
  width: 124px;
  text-align: end;
  display: flex;
  flex-flow: row-reverse;
}
