.grid {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  width: 100%;
  max-width: var(--page-max-width);
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--num-grid-columns),1fr);
  gap: 0 20px;
  padding: 0 var(--page-gutter);
}

.container {
  position: relative;
}

.header {
  z-index: 9998;
}

.wrapper {
  grid-column: span var(--num-grid-columns);
}

.nav {
  justify-content: space-between;
  width: 100%;
  height: 80px;
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.linkDefault {
  color: var(--text-link);
}

.logoLink, .nav {
  display: flex;
  align-items: center;
}

.logoWrapper {
  display: inline-block;
  line-height: 0;
}

.logoLink {
  justify-content: center;
}

.button {
  border-radius: 50%;
  line-height: 24px;
  cursor: pointer;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  transition-property: background-color,color,box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
  white-space: nowrap;

  &:hover {
    box-shadow: 0 8px 15px rgba(0,0,0,.2);
  }
}

.buttonWhite {
  background-color: var(--white);
  color: var(--not-quite-black);

  &:hover {
    color: var(--brand);
  }
}

.buttonBrand {
  background-color: var(--brand);
  color: var(--white);
}

.buttonSmall {
  border-radius: 40px;
  font-size: 14px;
  padding: 7px 16px;
}

.icon {
  margin-right: 8px;
}

.textSmall {
  font-size: 16px;
  line-height: 24px;
}

.panel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  width: 330px;
  z-index: 9999;
  overflow: hidden;
}

.panelThemed {
  background: var(--white);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 24px 48px 120px 24px;
  overflow-y: scroll;
}
