.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
}

.occLogo {
  width: 270px;
  height: auto;
  margin-top: 2rem;
}

.heroText {
  margin-top: 3rem;
  color: #434343;
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  font-weight: 400;
  text-align: center;
}

.heroButton {
  display: flex;
  border: none;
  border-radius: .75rem;
  outline-style: none;
  margin-top: 1.5rem;
  background-color: #3c78d8ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Montserrat', sans-serif;
  font-size: 34px;
  font-weight: bold;
  text-align: center;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  a {
    margin: .5rem 3.5rem;
    color: #ffffff;
    &:hover {
      text-decoration: none;
    }
  }
}
