.plan-header-text {
    font-family: 'Merriweather', serif;
    text-align: left;
    font-weight: bold;
    font-size: 44px;
    margin-top: 7px;
    color: #434343;
  }

  .main-font-smaller-plan-page{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 0px;
    color: #020202;
  }

  @media screen and (max-width: 768px) {
    .plan-header-text {
    font-size: 10vw;
    }
    .main-font-smaller-plan-page {
      font-size: 4.5vw;
      }
    .planpage-buttonstyle {
      font-size: 4.5vw;
      }
      
    
    
  }

  .horizontal-line {
    border-width: 3px;
    margin-top: 0em;
    margin-left: -1em;
    margin-right: 4em;
    background-color: rgb(220, 220, 220);
  }

  .planpage-buttonstyle {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    outline-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(0, 155, 52);
    margin-top: 10px;
    margin-bottom: 2px;
  }

  .plan-page {
    margin-left: 80px;
    margin-right: 60px;
  }