@import '~shared/styles/main';

@font-face {
  font-family: "Whitney";
  font-weight: 500;
  src: local("Whitney"), url("./shared/fonts/whitneymedium.otf") format("opentype");
}
@font-face {
  font-family: "Whitney";
  font-weight: 400;
  src: local("Whitney"), url("./shared/fonts/whitneybook.otf") format("opentype");
}
@font-face {
  font-family: "Whitney";
  font-weight: 600;
  src: local("Whitney"), url("./shared/fonts/whitneysemibold.otf") format("opentype");
}

:root {
  --brand: ;
  --not-quite-black: #23272a;
  --white: #fff;
}
:root {
  --page-max-width: 1260px;
  --page-gutter: 24px;
  --section-spacing: 56px;
  @media screen and (min-width: 768px) {
    --page-gutter: 40px;
    --section-spacing: 80px;
  }
  @media screen and (min-width: 1024px) {
    --section-spacing: 120px;
  }
}
html {
  height: 100%;
  overflow-scrolling: touch;
}